*{
    margin: 0px;
    padding: 0px;
    font-size: medium;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 600px;
    margin: auto;
}

header{
    display: flex;
    background-color: #2a3483;
    padding: 16px;
}

header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto 8px;
}

header h1{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: auto 8px;
}

footer{
    text-align: center;
    background-color: #f2f2f2;
    padding: 16px;
}

#modifiedNotice{
    font-size: small;
}

.linkList{
    margin: 0px 16px;
}

.linkList ul{
    padding-left: 40px;
}

.linkList ul li{
    margin: 8px;
}

.italics{
    font-style: italic;
}

h2{
    font-size: x-large;
    padding: 16px;
}

.notice{
    padding: 16px;
}