*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: whitesmoke;

    --accent-color-1: #66CCFF;
    --accent-color-2: #EFCA08;
    --accent-color-3: #F49F0A;
    --accent-color-4: #F08700;
    --accent-color-5: #9368B7;

    --border-radius-amount: 5px;
}

header{
    text-align: center;
    color: whitesmoke;
}

header nav{
    background-color: #363636;
    padding: 8px 0px;
}

header #dateDisplay{
    background-color: #5c5c5c;
    padding: 8px;
    margin: 0px;
}

header #banner{
    color: black;
    padding: 8px 0px;
}

header a img{
    height: 60px;
}

nav a, nav a:link, nav a:visited, nav a:hover, nav a:active{
    color: inherit;
    text-decoration: none;
}

nav a:hover{
    color: var(--accent-color-1);
}

nav a:hover .socialMediaLink{
    color: black;
    filter: brightness(0) saturate(100%)invert(83%) sepia(20%) saturate(5024%) hue-rotate(171deg) brightness(101%) contrast(101%);
}

button{
    padding: 16px;
    border-radius: var(--border-radius-amount);
    cursor: pointer;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

header h1, .org-type{ 
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: bold;
    text-transform: uppercase;
}

header h1{
    font-size: 16px;
}

header ul li{
    margin: auto;
    padding: 8px;
}

section{
    padding: 24px 16px;
    margin: 2px;
    text-align: center;
    background-color: lightgray;
}

.heroSection{
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
}

.heroSection button{
    background-color: var(--accent-color-4);
    border: none;
    font-weight: bold;
    margin: 16px 0px;
}

.joinSection{
    display: none;
}

.socialMediaLink{
    max-height: 24px;
    margin: 0px;
}

section p, section ul{
    margin: 8px 0px;
}

section ul{
    margin-left: 24px;
}

ul{
    list-style: none;
}

ul li{
    margin: 8px;
}

img{
    max-width: 300px;
}

aside{
    background-color: white;
    padding: 8px;
    margin: 24px;
    border-radius: var(--border-radius-amount);
}

aside table{
    width: 100%;
}

.notice{
    font-style: italic;
    font-size: 12px;
}

.font-highlight{
    font-size: 24px;
}

.navList li{
    display: none;
}

.navList li:nth-child(1){
    display: block;
}

.showList li{
    display: block;
}

#menuButton{
    cursor: pointer;
}

footer{
    text-align: center;
    vertical-align: middle;
    background-color: lightgray;
    padding: 16px;
    font-size: 12px;
}

footer a{
    text-decoration: none;
}

footer p{
    margin: 8px;
}

footer img{
    max-width: 48px;
    margin: 8px;
}