@media screen and (min-width: 45em){
    header h1{
        font-size: 24px;
    }

    header nav{
        display: flex;
    }

    .accent-color-swatch{
        font-size: 24px;
    }

    .homeMain{
        padding: 24px 48px;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr)
    }

    .heroSection{
        grid-row: 1 / 3;
        grid-column: 2 / 4;
    }

    .weatherSection{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .newsReleaseSection{
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }

    #spotlightSection{
        grid-row: 1 / 4;
        grid-column: 4 / 5;
    }

    .joinSection{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .navList{
        display: flex;
    }

    .navList li{
        display: flex;
    }
    
    #menuButton{
        display: none;
    }

    .directoryCardView{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #spotlightSection{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        vertical-align: middle;
    }

    #spotlightSection section{
        display: grid;
        padding: 0px;
        text-align: center;
        vertical-align: middle;
    }

    #spotlightSection section:nth-child(3){
        display: grid;
    }

    #spotlightSection section img{
        margin: auto;
        padding: 16px;
    }

    #spotlightSection section a{
        font-size: medium;
        padding: 0px;
        display: block;
    }

    #spotlightSection section a i{
        display: none;
    }

    #spotlightSection section a p{
        display: inherit;
    }

    .discoverMain section{
        max-width: 50%;
        margin: 8px auto;
    }
}