@media screen and (min-width: 45em){
    header h1{
        font-size: 24px;
    }

    header nav{
        display: flex;
    }

    .accent-color-swatch{
        font-size: 24px;
    }

    main{
        padding: 24px 48px;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr)
    }

    .heroSection{
        grid-row: 1 / 3;
        grid-column: 2 / 4;
    }

    .weatherSection{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .newsReleaseSection{
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }

    .spotlightSection{
        grid-row: 1 / 4;
        grid-column: 4 / 5;
    }

    .joinSection{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .navList{
        display: flex;
    }

    .navList li{
        display: flex;
    }
    
    #menuButton{
        display: none;
    }
}