@media screen and (min-width: 32.5em){
    header nav{
        text-align: center;
    }

    .header-logo-link{
        display: flex;
        justify-content: center;
    }

    .header-logo-link h1{
        margin: auto 0px;
    }

    nav a{
        margin: auto;
    }

    header a img{
        margin: auto 16px;
    }

    header a, header a:link, header a:visited, header a:hover, header a:active{
        margin: auto 0px;
    }

    header h1{
        font-size: 18px;
    }
    
    header ul{
        display: block;
        list-style-type: none;
        margin-left: auto;
    }

    header ul li{
        padding: 16px;
    }

    section{
        text-align: start;
    }

    .homeMain{
        padding: 12px 24px;
        display: grid;
        grid-template: repeat(5, 1fr) / 2fr 1fr
    }

    .heroSection{
        grid-column: 1 / 3;
    }

    .newsReleaseSection{
        grid-row: 2 / 2;
        grid-column: 1 / 3;
    }

    .spotlightSection{
        grid-row: 3 / 3;
        grid-column: 1 / 3;
    }

    .joinSection{
        display: initial;
        grid-row: 4 / 4;
        grid-column: 1 / 3;
    }

    footer{
        font-size: 14px;
    }
    
    footer p{
        margin: 8px;
    }
    
    footer img{
        max-width: 64px;
        margin: 8px;
    }

    footer #copyNotice{
        display: block;
        margin: auto;
        text-align: center;
    }

    
}