@media screen and (min-width: 32.5em){
    header nav{
        text-align: center;
        display: flex;
        height: 80px;
    }

    .header-logo-link{
        display: flex;
    }

    header a img{
        margin: auto 16px;
    }

    header a, header a:link, header a:visited, header a:hover, header a:active{
        margin: auto 0px;
    }

    header h1{
        font-size: 18px;
    }
    
    header ul{
        display: flex;
        list-style-type: none;
        margin-left: auto;
    }

    header ul li{
        padding: 16px;
    }

    section{
        text-align: start;
    }

    .accent-color-swatch p{
        padding: 72px 0px;
        margin: 0px;
        user-select: all;
    }

    .accent-color-swatch{
        font-size: 18px;
    }

    main{
        padding: 12px 24px;
    }
}