*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: whitesmoke;

    --accent-color-1: #66CCFF;
    --accent-color-2: #EFCA08;
    --accent-color-3: #F49F0A;
    --accent-color-4: #F08700;
    --accent-color-5: #9368B7;

    --border-radius-amount: 5px;
}

header{
    background-color: #363636;
    color: whitesmoke;
    text-align: center;
    padding: 8px 0px;
}

header a img{
    height: 60px;
}

header a, header a:link, header a:visited, header a:hover, header a:active{
    color: inherit;
    text-decoration: none;
}

header a:hover{
    color: white;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

header h1, .org-type{ 
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: normal;
}

header h1{
    font-size: 16px;
}

header ul li{
    margin: auto;
    padding: 8px;
}

section{
    margin: 24px 16px;
    text-align: center;
}

section p, section ul{
    margin: 8px 0px;
}

section ul{
    margin-left: 24px;
}

ul{
    list-style: none;
}

ul li{
    margin: 8px;
}

img{
    max-width: 300px;
}

aside{
    background-color: white;
    padding: 8px;
    margin: 24px;
    border-radius: var(--border-radius-amount);
}

aside table{
    width: 100%;
}

.accent-color-swatch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: black;
    text-align: center;
    border-radius: 5px;
    border-spacing: 0px;
    font-weight: bold;

    font-size: 0px;
    user-select: none;
}

.accent-color-swatch p{
    padding: 24px 0px;
    margin: 0px;
}

.accent-color-swatch p:nth-child(1){
    background-color: var(--accent-color-1);
    border-top-left-radius: var(--border-radius-amount);
    border-bottom-left-radius: var(--border-radius-amount);
}

.accent-color-swatch p:nth-child(2){
    background-color: var(--accent-color-2);
}

.accent-color-swatch p:nth-child(3){
    background-color: var(--accent-color-3);
}

.accent-color-swatch p:nth-child(4){
    background-color: var(--accent-color-4);
}

.accent-color-swatch p:nth-child(5){
    background-color: var(--accent-color-5);
    border-top-right-radius: var(--border-radius-amount);
    border-bottom-right-radius: var(--border-radius-amount);
}

.notice{
    font-style: italic;
    font-size: 12px;
}

.font-highlight{
    font-size: 24px;
}

footer{
    text-align: center;
    background-color: lightgray;
    padding: 16px;
}